:root {
    --hitbox: rgba(255, 255, 255, 0.0);
    --gradientgrad-light-blue: rgba(255, 255, 255, 1);
    --gradientofca-grad-brown-light: rgba(255, 255, 255, 1);
    --gradientofca-grad-green-light: rgba(255, 255, 255, 1);
    --gradientofca-grad-red-light: rgba(255, 255, 255, 1);
    --greywhite: rgba(255, 255, 255, 1);
    --grey-100: rgba(245, 245, 245, 1);
    --grey-200: rgba(231, 231, 231, 1);
    --grey-300: rgba(201, 201, 201, 1);
    --grey-400: rgba(175, 175, 175, 1);
    --grey-500: rgba(136, 136, 136, 1);
    --grey-600: rgba(109, 109, 109, 1);
    --grey-700: rgba(82, 82, 82, 1);
    --grey-800: rgba(54, 54, 54, 1);
    --grey-900: rgba(27, 27, 27, 1);
    --greyblack: rgba(0, 0, 0, 1);
    --body-textbody-default: rgba(51, 51, 51, 1);
    --body-textbody-lighter: rgba(106, 106, 106, 1);
    --body-textbody-highlight: rgba(23, 132, 119, 1);
    --body-textdisabled-text: rgba(117, 117, 117, 1);
    --body-textprimary-link-regular: rgba(183, 84, 22, 1);
    --body-textprimary-link-hovered: rgba(110, 50, 13, 1);
    --body-textsecondary-link-regular: rgba(0, 0, 0, 1);
    --body-textsecondary-link-hovered: rgba(106, 106, 106, 1);
    --outlineregular-outline: rgba(0, 0, 0, 0.45);
    --outlinelight-outline: rgba(0, 0, 0, 0.15);
    --outlinelight-solid-outline: rgba(204, 204, 204, 1);
    --outlinedark-outline: rgba(0, 0, 0, 1);
    --outlinesemi-black-border: rgba(0, 0, 0, 0.5);
    --outlinesemi-white-border: rgba(255, 255, 255, 0.5);
    --outlinecard-light-border: rgba(0, 0, 0, 0.1);
    --outlinenavbar-light-border: rgba(0, 0, 0, 0.2);
    --systemsuccess-green: rgba(25, 135, 56, 1);
    --systemerror-red: rgba(220, 53, 69, 1);
    --systemalert-yellow: rgba(255, 199, 0, 1);
    --systemalert-brown: rgba(179, 86, 0, 1);
    --systemprocess-info-blue: rgba(13, 110, 253, 1);
    --systemshare-purple: rgba(186, 43, 199, 1);
    --buttonprimary-regular: rgba(23, 132, 119, 1);
    --buttonprimary-hover: rgba(17, 99, 89, 1);
    --buttonprimary-hover-border: rgba(9, 50, 45, 1);
    --buttonprimary-pressed: rgba(9, 50, 45, 1);
    --buttonsecondary-regular: rgba(183, 84, 22, 1);
    --buttonsecondary-hover: rgba(110, 50, 13, 1);
    --buttonsecondary-hover-border: rgba(57, 26, 7, 1);
    --buttonsecondary-pressed: rgba(57, 26, 7, 1);
    --tabcurrent-active-tab: rgba(235, 245, 246, 1);
    --tabinactive-tab: rgba(23, 43, 40, 0.03);
    --tabhovering-on-tab: rgba(23, 43, 40, 0.06);
    --tabpressed-on-tab: rgba(23, 43, 40, 0.1);
    --backgroundhover-grey-semi-bg: rgba(23, 43, 40, 0.06);
    --backgroundpressed-grey-semi-bg: rgba(23, 43, 40, 0.12);
    --backgroundactive-current-semi-bg: rgba(29, 165, 149, 0.1);
    --backgroundhover-grey-solid-bg: rgba(241, 243, 242, 1);
    --backgroundpressed-grey-solid-bg: rgba(232, 234, 234, 1);
    --backgroundactive-current-solid-bg: rgba(235, 245, 246, 1);
    --backgroundhover-white-semi-bg: rgba(255, 255, 255, 0.22);
    --backgroundpressed-white-bg: rgba(255, 255, 255, 0.35);
    --backgroundactive-white-semi-bg: rgba(255, 255, 255, 0.8);
    --backgroundactive-current-green-bg: rgba(0, 130, 133, 0.5);
    --backgroundselected-green-solid-bg: rgba(0, 130, 133, 1);
    --backgroundlightbox-dark-bg: rgba(0, 0, 0, 0.7);
    --backgroundlightbox-light-bg: rgba(0, 0, 0, 0.3);
    --backgroundpane-bg: rgba(241, 243, 244, 1);
    --backgroundhighlighted-section-bg: rgba(235, 245, 246, 1);
    --backgroundheading-column: rgba(23, 43, 40, 0.06);
    --backgroundheading-column-2nd-level: rgba(23, 43, 40, 0.11);
    --backgrounddir-active-bg: rgba(235, 245, 246, 1);
    --backgroundfield-bg-light-blue: rgba(245, 250, 255, 1);
    --backgroundfield-bg-red: rgba(220, 53, 69, 1);
    --nexifybrand-main: rgba(75, 194, 190, 1);
    --nexifybrand-dark: rgba(0, 130, 133, 1);
    --nexifybrand-secondary: rgba(38, 70, 243, 1);
    --nexifygrey-main: rgba(109, 110, 113, 1);
    --nexifybrand-light: rgba(235, 245, 245, 1);
    --ofca-100: rgba(0, 102, 187, 1);
    --ofca-200: rgba(0, 102, 187, 1);
    --ofca-300: rgba(0, 102, 187, 1);
    --ofca-400: rgba(0, 102, 187, 1);
    --ofca-500: rgba(0, 102, 187, 1);
    --ofca-600: rgba(0, 102, 187, 1);
    --ofca-700: rgba(0, 102, 187, 1);
    --ofca-800: rgba(0, 102, 187, 1);
    --ofca-900: rgba(0, 102, 187, 1);
    --primary-100: rgba(29, 165, 149, 1);
    --primary-200: rgba(29, 165, 149, 1);
    --primary-300: rgba(29, 165, 149, 1);
    --primary-400: rgba(29, 165, 149, 1);
    --primary-500: rgba(29, 165, 149, 1);
    --primary-600: rgba(29, 165, 149, 1);
    --primary-700: rgba(29, 165, 149, 1);
    --primary-800: rgba(29, 165, 149, 1);
    --primary-900: rgba(29, 165, 149, 1);
    --secondary-100: rgba(38, 70, 243, 1);
    --secondary-200: rgba(38, 70, 243, 1);
    --secondary-300: rgba(38, 70, 243, 1);
    --secondary-400: rgba(38, 70, 243, 1);
    --secondary-500: rgba(38, 70, 243, 1);
    --secondary-600: rgba(38, 70, 243, 1);
    --secondary-700: rgba(38, 70, 243, 1);
    --secondary-800: rgba(38, 70, 243, 1);
    --secondary-900: rgba(38, 70, 243, 1);
    --tertiary-100: rgba(199, 83, 0, 1);
    --tertiary-200: rgba(199, 83, 0, 1);
    --tertiary-300: rgba(199, 83, 0, 1);
    --tertiary-400: rgba(199, 83, 0, 1);
    --tertiary-500: rgba(199, 83, 0, 1);
    --tertiary-600: rgba(199, 83, 0, 1);
    --tertiary-700: rgba(199, 83, 0, 1);
    --tertiary-800: rgba(199, 83, 0, 1);
    --tertiary-900: rgba(199, 83, 0, 1);
    --red-100: rgba(220, 53, 69, 1);
    --red-200: rgba(220, 53, 69, 1);
    --red-300: rgba(220, 53, 69, 1);
    --red-400: rgba(220, 53, 69, 1);
    --red-500: rgba(220, 53, 69, 1);
    --red-600: rgba(220, 53, 69, 1);
    --red-700: rgba(220, 53, 69, 1);
    --red-800: rgba(220, 53, 69, 1);
    --red-900: rgba(220, 53, 69, 1);
    --orange-100: rgba(255, 122, 0, 1);
    --orange-200: rgba(255, 122, 0, 1);
    --orange-300: rgba(255, 122, 0, 1);
    --orange-400: rgba(255, 122, 0, 1);
    --orange-500: rgba(255, 122, 0, 1);
    --orange-600: rgba(255, 122, 0, 1);
    --orange-700: rgba(255, 122, 0, 1);
    --orange-800: rgba(255, 122, 0, 1);
    --orange-900: rgba(255, 122, 0, 1);
    --yellow-100: rgba(255, 214, 0, 1);
    --yellow-200: rgba(255, 214, 0, 1);
    --yellow-300: rgba(255, 214, 0, 1);
    --yellow-400: rgba(255, 214, 0, 1);
    --yellow-500: rgba(255, 214, 0, 1);
    --yellow-600: rgba(255, 214, 0, 1);
    --yellow-700: rgba(255, 214, 0, 1);
    --yellow-800: rgba(255, 214, 0, 1);
    --yellow-900: rgba(255, 214, 0, 1);
    --greenlight-300: rgba(131, 183, 57, 1);
    --greenlight-400: rgba(131, 183, 57, 1);
    --greenlight-500: rgba(131, 183, 57, 1);
    --greenlight-600: rgba(131, 183, 57, 1);
    --greenlight-700: rgba(131, 183, 57, 1);
    --greenlight-800: rgba(131, 183, 57, 1);
    --greenlight-900: rgba(131, 183, 57, 1);
    --greenlight-100: rgba(131, 183, 57, 1);
    --greenlight-200: rgba(131, 183, 57, 1);
    --green-100: rgba(25, 135, 56, 1);
    --green-200: rgba(25, 135, 56, 1);
    --green-300: rgba(25, 135, 56, 1);
    --green-400: rgba(25, 135, 56, 1);
    --green-500: rgba(25, 135, 56, 1);
    --green-600: rgba(25, 135, 56, 1);
    --green-700: rgba(25, 135, 56, 1);
    --green-800: rgba(25, 135, 56, 1);
    --green-900: rgba(25, 135, 56, 1);
    --teal-100: rgba(0, 214, 188, 1);
    --teal-200: rgba(0, 214, 188, 1);
    --teal-300: rgba(0, 214, 188, 1);
    --teal-400: rgba(0, 214, 188, 1);
    --teal-500: rgba(0, 214, 188, 1);
    --teal-600: rgba(0, 214, 188, 1);
    --teal-700: rgba(0, 214, 188, 1);
    --teal-800: rgba(0, 214, 188, 1);
    --teal-900: rgba(0, 214, 188, 1);
    --cyan-100: rgba(4, 204, 244, 1);
    --cyan-200: rgba(4, 204, 244, 1);
    --cyan-300: rgba(4, 204, 244, 1);
    --cyan-400: rgba(4, 204, 244, 1);
    --cyan-500: rgba(4, 204, 244, 1);
    --cyan-600: rgba(4, 204, 244, 1);
    --cyan-700: rgba(4, 204, 244, 1);
    --cyan-800: rgba(4, 204, 244, 1);
    --cyan-900: rgba(4, 204, 244, 1);
    --hkpf-blue100: rgba(241, 248, 255, 1);
    --hkpf-blue200: rgba(229, 241, 255, 1);
    --hkpf-blue300: rgba(200, 225, 254, 1);
    --hkpf-blue400: rgba(145, 193, 234, 1);
    --hkpf-blue500: rgba(78, 149, 210, 1);
    --hkpf-blue600: rgba(47, 111, 167, 1);
    --hkpf-blue700: rgba(15, 74, 138, 1);
    --hkpf-blue800: rgba(2, 41, 83, 1);
    --hkpf-blue900: rgba(0, 28, 57, 1);
    --blue-100: rgba(13, 110, 253, 1);
    --blue-200: rgba(13, 110, 253, 1);
    --blue-300: rgba(13, 110, 253, 1);
    --blue-400: rgba(13, 110, 253, 1);
    --blue-500: rgba(13, 110, 253, 1);
    --blue-600: rgba(13, 110, 253, 1);
    --blue-700: rgba(13, 110, 253, 1);
    --blue-800: rgba(13, 110, 253, 1);
    --blue-900: rgba(13, 110, 253, 1);
    --indigo-100: rgba(104, 47, 226, 1);
    --indigo-200: rgba(104, 47, 226, 1);
    --indigo-300: rgba(104, 47, 226, 1);
    --indigo-400: rgba(104, 47, 226, 1);
    --indigo-500: rgba(104, 47, 226, 1);
    --indigo-600: rgba(104, 47, 226, 1);
    --indigo-700: rgba(104, 47, 226, 1);
    --indigo-800: rgba(104, 47, 226, 1);
    --indigo-900: rgba(104, 47, 226, 1);
    --purple-100: rgba(177, 71, 186, 1);
    --purple-200: rgba(177, 71, 186, 1);
    --purple-300: rgba(177, 71, 186, 1);
    --purple-400: rgba(177, 71, 186, 1);
    --purple-500: rgba(177, 71, 186, 1);
    --purple-600: rgba(177, 71, 186, 1);
    --purple-700: rgba(177, 71, 186, 1);
    --purple-800: rgba(177, 71, 186, 1);
    --purple-900: rgba(177, 71, 186, 1);
    --pink-100: rgba(255, 79, 142, 1);
    --pink-200: rgba(255, 79, 142, 1);
    --pink-300: rgba(255, 79, 142, 1);
    --pink-400: rgba(255, 79, 142, 1);
    --pink-500: rgba(255, 79, 142, 1);
    --pink-600: rgba(255, 79, 142, 1);
    --pink-700: rgba(255, 79, 142, 1);
    --pink-800: rgba(255, 79, 142, 1);
    --pink-900: rgba(255, 79, 142, 1);
    --guide-category-heading-font-family: "Roboto", Helvetica;
    --guide-category-heading-font-weight: 700;
    --guide-category-heading-font-size: 24px;
    --guide-category-heading-letter-spacing: 0px;
    --guide-category-heading-line-height: normal;
    --guide-category-heading-font-style: normal;
    --guide-page-heading-font-family: "Roboto", Helvetica;
    --guide-page-heading-font-weight: 700;
    --guide-page-heading-font-size: 40px;
    --guide-page-heading-letter-spacing: 0px;
    --guide-page-heading-line-height: normal;
    --guide-page-heading-font-style: normal;
    --body-regular-font-family: "Roboto", Helvetica;
    --body-regular-font-weight: 400;
    --body-regular-font-size: 16px;
    --body-regular-letter-spacing: 0px;
    --body-regular-line-height: 150%;
    --body-regular-font-style: normal;
    --body-regular-compact-font-family: "Roboto", Helvetica;
    --body-regular-compact-font-weight: 400;
    --body-regular-compact-font-size: 16px;
    --body-regular-compact-letter-spacing: 0px;
    --body-regular-compact-line-height: 120.00000476837158%;
    --body-regular-compact-font-style: normal;
    --body-bold-font-family: "Roboto", Helvetica;
    --body-bold-font-weight: 600;
    --body-bold-font-size: 16px;
    --body-bold-letter-spacing: 0px;
    --body-bold-line-height: 150%;
    --body-bold-font-style: normal;
    --body-bold-compact-font-family: "Roboto", Helvetica;
    --body-bold-compact-font-weight: 600;
    --body-bold-compact-font-size: 16px;
    --body-bold-compact-letter-spacing: 0px;
    --body-bold-compact-line-height: 120.00000476837158%;
    --body-bold-compact-font-style: normal;
    --body-regular-18-font-family: "Roboto", Helvetica;
    --body-regular-18-font-weight: 400;
    --body-regular-18-font-size: 18px;
    --body-regular-18-letter-spacing: 0px;
    --body-regular-18-line-height: 150%;
    --body-regular-18-font-style: normal;
    --body-bold-18-font-family: "Roboto", Helvetica;
    --body-bold-18-font-weight: 600;
    --body-bold-18-font-size: 18px;
    --body-bold-18-letter-spacing: 0px;
    --body-bold-18-line-height: 150%;
    --body-bold-18-font-style: normal;
    --body-italic-font-family: "Roboto", Helvetica;
    --body-italic-font-weight: 400;
    --body-italic-font-size: 16px;
    --body-italic-letter-spacing: 0px;
    --body-italic-line-height: 150%;
    --body-italic-font-style: italic;
    --body-strike-font-family: "Roboto", Helvetica;
    --body-strike-font-weight: 400;
    --body-strike-font-size: 16px;
    --body-strike-letter-spacing: 0px;
    --body-strike-line-height: 150%;
    --body-strike-font-style: normal;
    --body-underline-font-family: "Roboto", Helvetica;
    --body-underline-font-weight: 400;
    --body-underline-font-size: 16px;
    --body-underline-letter-spacing: 0px;
    --body-underline-line-height: 150%;
    --body-underline-font-style: normal;
    --body-underline-bold-font-family: "Roboto", Helvetica;
    --body-underline-bold-font-weight: 600;
    --body-underline-bold-font-size: 16px;
    --body-underline-bold-letter-spacing: 0px;
    --body-underline-bold-line-height: 150%;
    --body-underline-bold-font-style: normal;
    --body-lead-font-family: "Roboto", Helvetica;
    --body-lead-font-weight: 400;
    --body-lead-font-size: 20px;
    --body-lead-letter-spacing: 0px;
    --body-lead-line-height: 139.9999976158142%;
    --body-lead-font-style: normal;
    --body-lead-bold-font-family: "Roboto", Helvetica;
    --body-lead-bold-font-weight: 600;
    --body-lead-bold-font-size: 20px;
    --body-lead-bold-letter-spacing: 0px;
    --body-lead-bold-line-height: 139.9999976158142%;
    --body-lead-bold-font-style: normal;
    --body-lead-underline-font-family: "Roboto", Helvetica;
    --body-lead-underline-font-weight: 400;
    --body-lead-underline-font-size: 20px;
    --body-lead-underline-letter-spacing: 0px;
    --body-lead-underline-line-height: 129.99999523162842%;
    --body-lead-underline-font-style: normal;
    --body-small-font-family: "Roboto", Helvetica;
    --body-small-font-weight: 400;
    --body-small-font-size: 14px;
    --body-small-letter-spacing: 0px;
    --body-small-line-height: 129.99999523162842%;
    --body-small-font-style: normal;
    --body-small-bold-font-family: "Roboto", Helvetica;
    --body-small-bold-font-weight: 600;
    --body-small-bold-font-size: 14px;
    --body-small-bold-letter-spacing: 0px;
    --body-small-bold-line-height: 129.99999523162842%;
    --body-small-bold-font-style: normal;
    --body-extra-small-font-family: "Roboto", Helvetica;
    --body-extra-small-font-weight: 400;
    --body-extra-small-font-size: 12px;
    --body-extra-small-letter-spacing: 0px;
    --body-extra-small-line-height: 129.99999523162842%;
    --body-extra-small-font-style: normal;
    --body-extra-small-bold-font-family: "Roboto", Helvetica;
    --body-extra-small-bold-font-weight: 700;
    --body-extra-small-bold-font-size: 12px;
    --body-extra-small-bold-letter-spacing: 0px;
    --body-extra-small-bold-line-height: 129.99999523162842%;
    --body-extra-small-bold-font-style: normal;
    --body-extra-large-font-family: "Roboto", Helvetica;
    --body-extra-large-font-weight: 400;
    --body-extra-large-font-size: 32px;
    --body-extra-large-letter-spacing: 0px;
    --body-extra-large-line-height: 120.00000476837158%;
    --body-extra-large-font-style: normal;
    --body-extra-large-bold-font-family: "Roboto", Helvetica;
    --body-extra-large-bold-font-weight: 600;
    --body-extra-large-bold-font-size: 32px;
    --body-extra-large-bold-letter-spacing: 0px;
    --body-extra-large-bold-line-height: 120.00000476837158%;
    --body-extra-large-bold-font-style: normal;
    --body-donut-medium-regular-font-family: "Roboto", Helvetica;
    --body-donut-medium-regular-font-weight: 400;
    --body-donut-medium-regular-font-size: 28px;
    --body-donut-medium-regular-letter-spacing: 0px;
    --body-donut-medium-regular-line-height: 120.00000476837158%;
    --body-donut-medium-regular-font-style: normal;
    --body-donut-large-regular-font-family: "Roboto", Helvetica;
    --body-donut-large-regular-font-weight: 400;
    --body-donut-large-regular-font-size: 56px;
    --body-donut-large-regular-letter-spacing: 0px;
    --body-donut-large-regular-line-height: 120.00000476837158%;
    --body-donut-large-regular-font-style: normal;
    --menu-left-menu-regular-font-family: "Roboto", Helvetica;
    --menu-left-menu-regular-font-weight: 400;
    --menu-left-menu-regular-font-size: 16px;
    --menu-left-menu-regular-letter-spacing: 0px;
    --menu-left-menu-regular-line-height: 120.00000476837158%;
    --menu-left-menu-regular-font-style: normal;
    --menu-left-menu-bold-font-family: "Roboto", Helvetica;
    --menu-left-menu-bold-font-weight: 600;
    --menu-left-menu-bold-font-size: 16px;
    --menu-left-menu-bold-letter-spacing: 0px;
    --menu-left-menu-bold-line-height: 120.00000476837158%;
    --menu-left-menu-bold-font-style: normal;
    --menu-top-menu-bold-font-family: "Roboto", Helvetica;
    --menu-top-menu-bold-font-weight: 600;
    --menu-top-menu-bold-font-size: 18px;
    --menu-top-menu-bold-letter-spacing: 0px;
    --menu-top-menu-bold-line-height: 120.00000476837158%;
    --menu-top-menu-bold-font-style: normal;
    --menu-top-menu-regular-font-family: "Roboto", Helvetica;
    --menu-top-menu-regular-font-weight: 400;
    --menu-top-menu-regular-font-size: 18px;
    --menu-top-menu-regular-letter-spacing: 0px;
    --menu-top-menu-regular-line-height: 120.00000476837158%;
    --menu-top-menu-regular-font-style: normal;
    --heading-h1-font-family: "Roboto", Helvetica;
    --heading-h1-font-weight: 600;
    --heading-h1-font-size: 40px;
    --heading-h1-letter-spacing: 0px;
    --heading-h1-line-height: 120.00000476837158%;
    --heading-h1-font-style: normal;
    --heading-h2-font-family: "Roboto", Helvetica;
    --heading-h2-font-weight: 600;
    --heading-h2-font-size: 32px;
    --heading-h2-letter-spacing: 0px;
    --heading-h2-line-height: 120.00000476837158%;
    --heading-h2-font-style: normal;
    --heading-h3-font-family: "Roboto", Helvetica;
    --heading-h3-font-weight: 600;
    --heading-h3-font-size: 28px;
    --heading-h3-letter-spacing: 0px;
    --heading-h3-line-height: 120.00000476837158%;
    --heading-h3-font-style: normal;
    --heading-h4-font-family: "Roboto", Helvetica;
    --heading-h4-font-weight: 600;
    --heading-h4-font-size: 24px;
    --heading-h4-letter-spacing: 0px;
    --heading-h4-line-height: 120.00000476837158%;
    --heading-h4-font-style: normal;
    --heading-h5-font-family: "Roboto", Helvetica;
    --heading-h5-font-weight: 600;
    --heading-h5-font-size: 20px;
    --heading-h5-letter-spacing: 0px;
    --heading-h5-line-height: 120.00000476837158%;
    --heading-h5-font-style: normal;
    --heading-h6-font-family: "Roboto", Helvetica;
    --heading-h6-font-weight: 600;
    --heading-h6-font-size: 18px;
    --heading-h6-letter-spacing: 0px;
    --heading-h6-line-height: 120.00000476837158%;
    --heading-h6-font-style: normal;
    --display-d6-font-family: "Roboto", Helvetica;
    --display-d6-font-weight: 500;
    --display-d6-font-size: 40px;
    --display-d6-letter-spacing: 0px;
    --display-d6-line-height: 100%;
    --display-d6-font-style: normal;
    --display-d5-font-family: "Roboto", Helvetica;
    --display-d5-font-weight: 700;
    --display-d5-font-size: 48px;
    --display-d5-letter-spacing: 0px;
    --display-d5-line-height: 120.00000476837158%;
    --display-d5-font-style: normal;
    --display-d4-font-family: "Roboto", Helvetica;
    --display-d4-font-weight: 500;
    --display-d4-font-size: 56px;
    --display-d4-letter-spacing: 0px;
    --display-d4-line-height: 100%;
    --display-d4-font-style: normal;
    --display-d3-font-family: "Roboto", Helvetica;
    --display-d3-font-weight: 500;
    --display-d3-font-size: 64px;
    --display-d3-letter-spacing: 0px;
    --display-d3-line-height: 110.00000238418579%;
    --display-d3-font-style: normal;
    --display-d2-font-family: "Roboto", Helvetica;
    --display-d2-font-weight: 500;
    --display-d2-font-size: 72px;
    --display-d2-letter-spacing: 0px;
    --display-d2-line-height: 100%;
    --display-d2-font-style: normal;
    --display-d1-font-family: "Roboto", Helvetica;
    --display-d1-font-weight: 500;
    --display-d1-font-size: 80px;
    --display-d1-letter-spacing: 0px;
    --display-d1-line-height: 150%;
    --display-d1-font-style: normal;
    --table-heading-row-font-family: "Roboto", Helvetica;
    --table-heading-row-font-weight: 600;
    --table-heading-row-font-size: 16px;
    --table-heading-row-letter-spacing: 0px;
    --table-heading-row-line-height: 120.00000476837158%;
    --table-heading-row-font-style: normal;
    --form-input-edit-text-font-family: "Roboto", Helvetica;
    --form-input-edit-text-font-weight: 600;
    --form-input-edit-text-font-size: 18px;
    --form-input-edit-text-letter-spacing: 0px;
    --form-input-edit-text-line-height: 139.9999976158142%;
    --form-input-edit-text-font-style: normal;
    --form-input-static-text-font-family: "Roboto", Helvetica;
    --form-input-static-text-font-weight: 400;
    --form-input-static-text-font-size: 18px;
    --form-input-static-text-letter-spacing: 0px;
    --form-input-static-text-line-height: 139.9999976158142%;
    --form-input-static-text-font-style: normal;
    --form-remark-italic-font-family: "Roboto", Helvetica;
    --form-remark-italic-font-weight: 400;
    --form-remark-italic-font-size: 12px;
    --form-remark-italic-letter-spacing: 0px;
    --form-remark-italic-line-height: 139.9999976158142%;
    --form-remark-italic-font-style: italic;
    --form-field-alert-message-font-family: "Roboto", Helvetica;
    --form-field-alert-message-font-weight: 400;
    --form-field-alert-message-font-size: 14px;
    --form-field-alert-message-letter-spacing: 0px;
    --form-field-alert-message-line-height: 129.99999523162842%;
    --form-field-alert-message-font-style: italic;
    --shadow-small-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 1px
        rgba(0, 0, 0, 0.08);
    --shadow-medium-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.14);
    --shadow-large-shadow: 0px 5px 16px 2px rgba(0, 0, 0, 0.1);
    --shadow-extra-large-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.13);
    --shadow-theme-small-shadow: 0px 1px 3px 0px rgba(75, 194, 190, 0.2), 0px 1px
        3px 1px rgba(75, 194, 190, 0.2);
    --shadow-theme-medium-shadow: 0px 4px 12px 0px rgba(75, 194, 190, 0.4);
    --shadow-theme-large-shadow: 0px 6px 16px 0px rgba(75, 194, 190, 0.5);
    --shadow-offcanvas-pane: 0px 0px 48px 0px rgba(0, 0, 0, 0.3);
    --shadow-navbar-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2), 0px 0px 1px 1px
        rgba(0, 0, 0, 0.1);
    --shadow-light-outline: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    --shadow-dark-outline: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
    --shadow-modal-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.15);
    --shadow-alert-toast-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.22);
    --shadow-white-outline: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
    --shadow-top-small-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.1), 0px -1px 3px
        1px rgba(0, 0, 0, 0.08);
    --shadow-small-white-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 1px
        3px 0px rgba(255, 255, 255, 0.2);
    --shadow-medium-white-shadow: 0px 2px 8px 0px rgba(255, 255, 255, 0.6);
    --shadow-large-white-shadow: 0px 5px 16px 0px rgba(255, 255, 255, 0.4);
    --focus-active: 0px 0px 0px 4px rgba(0, 133, 255, 0.25);
    --focus-success: 0px 0px 0px 2px rgba(25, 135, 84, 1);
    --focus-error: 0px 0px 0px 2px rgba(220, 53, 69, 1);
    --focus-primary-active-border: 0px 0px 0px 4px rgba(183, 84, 22, 0.2);
    --focus-secondary-active-border: 0px 0px 0px 5px rgba(23, 132, 119, 0.2);
    --focus-active-dark: 0px 0px 0px 4px rgba(0, 0, 0, 0.2);
    --focus-active-light: 0px 0px 0px 4px rgba(248, 249, 250, 0.5);
    --focus-teritary-active-border: 0px 0px 0px 4px rgba(199, 83, 0, 0.16);
}

.global-menu {
    display: flex;
    align-self: stretch;
    /* width: 1920px; */
    align-items: flex-start;
    gap: 40px;
    padding: 0px 0px 0px;
    /* position: relative; */
    background-color: var(--grey-100);

    position: fixed; /* This allows the modal to overlay the viewport */
    top:  96px;
    left: 0;
    width: 100%;  /* Full width */
    height: 48%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */

    
    justify-content: center; /* Center modal content horizontally */
    /* align-items: center; /* Center modal content vertically
    z-index: 1000; /* High z-index to ensure it appears on top */
}

.global-menu .heading-content {    
    background: white; /* Background color of the modal */
    padding: 0px;
    top: 0;
    height: 100%;
    border-radius: 0px;
    /* width: 100%; */
    box-shadow: 0 2px 10px rgba(19, 17, 17, 0.5);  /*Optional shadow for depth */
}

.global-menu .heading-container {
    display: flex;
    padding: 10px 240px 0px;
    align-items: center;
    /* gap: 16px; */
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
}

.global-menu .icon-arrow-left {
    position: relative;
    width: 32px;
    height: 32px;
}

.global-menu .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: var(--hitbox);
}

.global-menu .text-wrapper {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--heading-h3-font-family);
    font-weight: var(--heading-h3-font-weight);
    color: var(--body-textbody-default);
    font-size: var(--heading-h3-font-size);
    letter-spacing: var(--heading-h3-letter-spacing);
    line-height: var(--heading-h3-line-height);
    font-style: var(--heading-h3-font-style);
}

.global-menu .right-container {
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

.global-menu .button-other {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--hitbox);
    border-radius: 4px;
    overflow: hidden;
}

.global-menu .icon {
    position: relative;
    width: 22px;
    height: 22px;
}

.global-menu .frame {
    gap: 24px;
    align-self: stretch;
    top: 20px;
    /* width: 100%; */
    flex: 0 0 auto;
    display: flex;
    height: 80%;
    align-items: flex-start;
    position: relative;
}

.global-menu .div {
    flex-direction: column;
    gap: 16px;
    flex: 1;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.global-menu .wrapper-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    position: relative;
    align-self: stretch;
    /* width: 100%; */
    flex: 0 0 auto;
    background-color: var(--hitbox);
}

.global-menu .wrapper {
    align-items: flex-start;
    display: flex;
    gap: 6px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.global-menu .icon-document-cert {
    position: relative;
    width: 20px;
    height: 20px;
}

.global-menu .text-2 {
    position: relative;
    flex: 1;
    margin-top: -1.00px;
    font-family: var(--body-regular-18-font-family);
    font-weight: var(--body-regular-18-font-weight);
    color: var(--body-textbody-highlight);
    font-size: var(--body-regular-18-font-size);
    letter-spacing: var(--body-regular-18-letter-spacing);
    line-height: var(--body-regular-18-line-height);
    font-style: var(--body-regular-18-font-style);
}

.global-menu .wrapper-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 6px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.global-menu .divider-separator {
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
}

.global-menu .div-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--hitbox);
}

.close {
    position: absolute; /* Position relative to the nearest relative ancestor */
    right: 20px; /* Position from the right */
    top: 0px; /* Position from the top */
    font-size: 30px; /* Size of the close button */
    cursor: pointer; /* Cursor pointer on hover */
    color: #aaa; /* Color of the close button */
}